/* SITE STRUCTURE */
.site-header {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .site-header a {
    color: white;
    text-decoration: none; }
  .site-header h1 {
    font-size: 1.5em;
    margin: 0; }

/* SITE FOOTER */
.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .site-footer a {
    color: white;
    text-decoration: none; }

/* SITE-NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1; }

section {
  padding: 4em 0; }

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 6em 0; }
  .hero h1 {
    margin-bottom: .25em; }
  .hero p {
    margin: 1em auto; }
